body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  width: 100vw;
  background-image: url("../public/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  position: relative;
}

.content {
  color: #000;
  display: grid;
  place-content: center;
  text-align: center;
  color: #e71919;
}

.logo {
  width: 80%;
  margin-inline: auto;
}

.btns {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  gap: 15px;
}

button {
  width: 170px;
  padding-block: 10px;
  font-size: 18px;
  background-color: transparent;
  border: 2.5px solid #269326;
  color: #e71919;
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

button:hover {
  background-color: rgba(228, 227, 215, 0.5);
}

.play-btn {
  position: absolute;
  width: 40px;
  bottom: 10px;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}
